div.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(72deg, #44291A, #A15C48, #F7D6CF);

    h1 {
        letter-spacing: 6px;
        color: rgb(150, 0, 0);
        text-shadow: 2px 2px 21px #44291A;
        font-family: Ancizar Sans;
        font-weight: 900;
        font-size: 2rem;
    }
}