.container {
    padding-top: 80px;
    background: rgb(200, 200, 200);
    min-height: 100vh;
    width: 900px;

    @media (max-width: 900px) {
        width: 100%;
        padding-top: 60px;
    }

    >div.header {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(72deg, #44291A, #A15C48, #F7D6CF);
        padding: 40px;
        overflow: hidden;

        @media (max-width: 768) {
            padding: 30px 20px;
        }

        button {
            position: absolute;
            right: 1.3rem;
            top: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            font-size: 1.2rem;
            font-family: Open Sans;
            font-weight: 900;
            overflow: hidden;
            color: white;
            padding: 0;
            background: orange;
        }

        .addPost {
            height: 35px;
            width: 35px;
        }

        .link {
            padding: 10px 20px;
        }

        >h1 {
            position: absolute;
            left: auto;
            letter-spacing: 6px;
            color: rgb(150, 0, 0);
            font-family: Ancizar Sans;
            font-weight: 900;
            font-size: 2rem;

            @media (max-width: 768) {
                font-size: 1.5rem;
            }
        }
    }

}