.container {
    width: 100%;
    padding: 10px;
    background: hsl(39, 100%, 55%);
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    position: sticky;
    top: 0;
    z-index: 1;

    button {
        white-space: nowrap;
        cursor: pointer;
        display: flex;
        padding: 5px 10px;
        background: white;
        color: hsl(39, 100%, 10%);
        font-weight: 600;
        width: fit-content;
        font-family: Open Sans;
        font-size: 1.1rem;
        border-radius: 50px;
    }
}

.container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}