.container {
    position: relative;
    padding: 120px 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .box {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background: orange;
        box-shadow: 0 7px 14px 3px rgba(255, 165, 0, 0.6);
    }
}